.answer{
     padding-left: 6%;
}
input{
  color: black;
  background-color:white; 
  border: solid 1px #6E6E6E;
  width: 80%;
  height: 30px; 
  font-size:18px; 
  vertical-align:9px 
}
.q-name {
  display: block; 
  text-align: center;
  font-size: 4.0em;
  color: white;
}
.choices{
  position:relative;
  text-align:center !important;

}
.choices > input{
  width: 75%;
  display:block;
  background-color:rgb(112,203,206);
  margin-left:13%;

}

.reviewQHeader{
  background-attachment:fixed;
  background-size:auto;
  width:auto;
  height:auto;
}